@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
h1, h2, h3, h4, .navbar-brand {
  font-family: 'Jeju Gothic';
  color: #1B5E20;
}
body {
  font-family: 'Nanum Gothic';
  background-color: #ffffff;
}
.navbar {
  border-bottom: #43A047 3px solid;
}
